<div id="logo">
  <img src="../public/images/logotipo.png" alt="logo" />
  <h1 id="titulo-pag"><%= title %></h1>
  <span id="user">
    <img src="../public/images/user.png" alt="user">
  </span>
</div>
<ul id="Cabecera" class="nav nav-tabs mb-2">
  <li class="button m-2 mb-0">
    <a id="b1" class="nav-link bg-light" href="catalog">Catalog-management</a>
  </li>
  <li class="button m-2 mb-0">
    <a id="b2" class="nav-link bg-light" href="collection-form">Collection-form</a>
  </li>
  <li class="button m-2 mb-0">
    <a id="b3" class="nav-link bg-light" href="sales-list">Sales-list</a>
  </li>
  <li class="button m-2 mb-0">
    <a id="b4" class="nav-link bg-light" href="/logout" onclick="return confirm('¿Estás seguro de que quieres salir?')">Exit</a>
  </li>
</ul>
